@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CSharp Basics</h1>
    <p class="lead">Welcome to the CSharp Basics Application</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application exists as a way to code along with tutorial videos or
            training events. It presents a basic MVC interface for learning to become
            more familiar with the Model, View, Controller method of coding in .NET.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go fork yourself!</h2>
        <p>You can easily create your own fork of this project and use it for your own practice.</p>
        <p><a class="btn btn-default" href="https://github.com/veritaspanda/CSharpBasicsPractice">Find this on Github &raquo;</a></p>
    </div>
</div>